cours/noSQL/sample_training/.mongodb/
cours/noSQL/sample_training/diagnostic.data/
cours/noSQL/sample_training/journal/
cours/noSQL/sample_training/.bash_history
cours/noSQL/sample_training/*
cours/redis/data/dump.rdb

